
.construccion {
	background-image: url('../imagenes/fondo-construccion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% top;
	background-attachment: fixed;
	height: 40rem;
}

.nose {
	margin-left: 42%;
	position: absolute;
}
.uppercase {
		text-transform: uppercase;
}
.fuenteride2 {
	font-family: fuenteride2,sans-serif;
}


@media only screen and (max-width: 1080px) {
	.ocultarpequeño{
		display: none;

	}
}

@media only screen and (max-width: 1250px) {
	.ocultarterritorio{
		display: none;

	}
}


@media only screen and (max-width: 600px) {
	.quitarmargensup2{
	 margin-top: 0px !important;

	}
}

@media only screen and (max-width: 600px) {
	.quitarheight{
	 height: auto !important;
	 margin-top: 3rem;
	 margin-bottom: 1rem;

	}
}

@media only screen and (max-width: 340px) {
	.ocultarfooter{
display: none !important;

	}
}

@media only screen and (min-width: 341px) {
	.ocultarfooter2{
	 display: none !important;

	}
}

@media only screen and (max-width: 347px) {
	.valienteresponsive2{
	 letter-spacing: 8px !important;

	}
}

@media only screen and (max-width: 305px) {
	.valienteresponsive2{
	 letter-spacing: 4px !important;

	}
}

@media only screen and (max-width: 396px) {
	.responsiveparchadero2{
	 letter-spacing: 8px !important;

	}
}

@media only screen and (max-width: 369px) {
	.responsiveparchadero2{
	 letter-spacing: 4px !important;

	}
}

@media only screen and (max-width: 316px) {
	.responsiveparchadero2{
	 letter-spacing: 0px !important;

	}
}

@media only screen and (max-width: 412px) {
	.ajustarlogonav{
	 width: 200px !important;

	}

	.ajustarlogonav2{
	 line-height: 98px !important;

	}

	.ajustarhambur{
	 left: px !important;

	}
}

@media only screen and (max-width: 358px) {
	.ajustarlogonav{
	 width: 200px !important;

	}

	.ajustarlogonav2{
	 line-height: 98px !important;

	}

	.ajustarhambur{
	 left: -5px !important;

	}
}

@media only screen and (max-width: 319px) {
	.ajustarlogonav{
	 width: 200px !important;

	}

	.ajustarlogonav2{
	 line-height: 98px !important;

	}

	.ajustarhambur{
	 left: -20px !important;

	}
}

@media only screen and (max-width: 280px) {
	.ajustarlogonav{
	 width: 170px !important;

	}

	.ajustarlogonav2{
	 line-height: 88px !important;

	}

	.ajustarhambur{
	 left: -20px !important;

	}
}


@media only screen and (max-width: 600px) {
	.quitarheight2{
	 height: auto !important;
	 /* margin-top: 3rem; */
	 margin-bottom: 3rem;

	}
}

@media only screen and (max-width: 1162px) {
	.ajustarespaciado{
letter-spacing: 4px !important;

	}
}

@media only screen and (max-width: 1071px) {
	.ajustarespaciado{
letter-spacing: 3px !important;

	}
}

@media only screen and (max-width: 720px) {
	.absolute3{
left: 30% !important;

	}
}

@media only screen and (max-width: 791px) {
	.ajustarespaciado{
letter-spacing: 2px !important;

	}
}


@media only screen and (min-width: 1251px) {
	.ocultarterritorio2{
		display: none;

	}
}

@media only screen and (max-width: 600px) {
	.ocultarfoto{
		display: none;

	}
}

@media only screen and (max-width: 1279px) {
	.chulosdirt{
left: 43% !important;
		}
		.chulosdirt2{
			/* width: 12rem !important; */
			}
}

@media only screen and (max-width: 1250px) {
	.chulosdirt{
left: 41% !important;
		}
		.chulosdirt2{
			/* width: 12rem !important; */
			}
}


@media only screen and (max-width: 927px) {
	.chulosdirt{
left: 41% !important;
		}
		.chulosdirt2{
			width: 13rem !important;
			}
}

@media only screen and (max-width: 840px) {
	.chulosdirt{
left: 38% !important;
		}
		.chulosdirt2{
			width: 13rem !important;
			}
}


@media only screen and (max-width: 741px) {
	.chulosdirt{
left: 34% !important;
		}
		.chulosdirt2{
			width: 13rem !important;
			}
}


@media only screen and (max-width: 664px) {
	.chulosdirt{
left: 30% !important;
		}
		.chulosdirt2{
			width: 13rem !important;
			}
}

@media only screen and (max-width: 1279px) {
	.chulosdird{
left: 43% !important;
		}
		.chulosdird2{
			/* width: 12rem !important; */
			}
}

@media only screen and (max-width: 1250px) {
	.chulosdird{
left: 41% !important;
		}
		.chulosdird2{
			/* width: 12rem !important; */
			}
}


@media only screen and (max-width: 927px) {
	.chulosdird{
left: 41% !important;
		}
		.chulosdird2{
			/* width: 13rem !important; */
			}
}

@media only screen and (max-width: 840px) {
	.chulosdird{
left: 38% !important;
		}
		.chulosdird2{
			/* width: 13rem !important; */
			}
}


@media only screen and (max-width: 741px) {
	.chulosdird{
left: 34% !important;
		}
		.chulosdird2{
			/* width: 13rem !important; */
			}
}


@media only screen and (max-width: 664px) {
	.chulosdird{
left: 30% !important;
		}
		.chulosdird2{
			/* width: 13rem !important; */
			}
}

@media only screen and (max-width: 1140px) {
	.chulosvalientes{
left: 39% !important;
		}
		.chulosvalientes2{
			/* width: 13rem !important; */
			}
}

@media only screen and (max-width: 1030px) {
	.chulosvalientes{
left: 37% !important;
		}
		.chulosvalientes2{
			/* width: 13rem !important; */
			}
}

@media only screen and (max-width: 950px) {
	.chulosvalientes{
left: 34% !important;
		}
		.chulosvalientes2{
			/* width: 13rem !important; */
			}
}

@media only screen and (max-width: 877px) {
	.chulosvalientes{
left: 31% !important;
		}
		.chulosvalientes2{
			/* width: 13rem !important; */
			}
}

@media only screen and (max-width: 819px) {
	.chulosvalientes{
left: 28% !important;
		}
		.chulosvalientes2{
			/* width: 13rem !important; */
			}
}

@media only screen and (max-width: 766px) {
	.chulosvalientes{
left: 30% !important;
		}
		.chulosvalientes2{
			width: 13rem !important;
			}
}

@media only screen and (max-width: 722px) {
	.chulosvalientes{
left: 27% !important;
		}
		.chulosvalientes2{
			width: 13rem !important;
			}
}

@media (min-width: 601px) and (max-width:650px) {
	.valientesresponsive {
letter-spacing: 9px !important;
		}

}

@media  (min-width: 601px)  and (max-width: 725px) {
	.responsiveparchadero{
letter-spacing: 3px !important;
		}

}

@media only screen and (min-width: 601px) {
	.ocultarfoto2{
		display: none;

	}
}

@media only screen and (max-width: 600px) {
	.a600test{
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600test2{
width: 8rem !important;


	}
}

@media only screen and (max-width: 409px) {
	.a600test{
		display: none!important;
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600test2{
width: 8rem !important;


	}
}

@media only screen and (max-width: 600px) {
	.a600urban{
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600urban2{
/* width: 8rem !important; */


	}
}

@media only screen and (max-width: 543px) {
	.a600urban{
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600urban2{
width: 10rem !important;


	}
}

@media only screen and (max-width: 409px) {
	.a600urban{
		display: none !important;
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600urban2{
width: 8rem !important;


	}
}

@media only screen and (max-width: 600px) {
	.a600parchadero{
		left: 70% !important;
		top: 30% !important;
		overflow: hidden !important;

	}

	.a600parchadero2{
width: 4rem !important;


	}
}

@media only screen and (max-width: 543px) {
	.a600parchadero{
		left: 70% !important;
		top: 30% !important;
		overflow: hidden !important;

	}

	.a600parchadero2{
width: 4rem !important;


	}
}

@media only screen and (max-width: 409px) {
	.a600parchadero{
		display: none !important;
		left: 70% !important;
		top: 30% !important;
		overflow: hidden !important;

	}

	.a600parchadero2{
width: 4rem !important;


	}
}


@media only screen and (max-width: 600px) {
	.a600dirt{
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600dirt2{
/* width: 8rem !important; */


	}
}

@media only screen and (max-width: 543px) {
	.a600dirt{
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600dirt2{
/* width: 10rem !important; */


	}
}

@media only screen and (max-width: 409px) {
	.a600dirt{
		display: none !important;
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600dirt2{
/* width: 8rem !important; */


	}
}

@media only screen and (max-width: 600px) {
	.añadirmarginpre{
	margin-top: 3.5rem !important;

	}

}

@media only screen and (max-width: 600px) {
	.a600valientes{
		left: 60% !important;
		top: 2% !important;
		overflow: hidden !important;

	}

	.a600valientes2{
width: 10rem !important;


	}
}

@media only screen and (max-width: 543px) {
	.a600valientes{
		left: 60% !important;
		top: 2% !important;
		overflow: hidden !important;

	}

	.a600valientes2{
/* width: 10rem !important; */


	}
}

@media only screen and (max-width: 409px) {
	.a600valientes{
		display: none !important;
		left: 60% !important;
		top: 5% !important;
		overflow: hidden !important;

	}

	.a600valientes2{
/* width: 8rem !important; */


	}
}


@media only screen and (max-width: 1280px) {
	.custombuilt{
		letter-spacing: 1px !important;

	}
}

@media only screen and (max-width: 1129px) {
	.custombuilt{
		letter-spacing: 0px !important;

	}
}



@media only screen and (max-width: 1069px) {
	.ajustaranchocustom{
		width: 80% !important;

	}
}


@media only screen and (min-width: 766px) {
	.ponerespacio{
		display: none !important;

	}
}




@media only screen and (max-width: 766px) {
	.ajustarlinea{
	line-height: 22px !important;

	}
}

@media only screen and (max-width: 766px) {
	.ajustarlinea2{
	line-height: 49px !important;

	}
}


@media (min-width: 601px) and (max-width: 854px) {
	.ajustaranchocustom{
		width: 90% !important;

	}
}


@media only screen and (min-width: 992px) {
	.navbar-fixed{
		height: 79px !important;

	}
}


@media only screen and (max-width: 865px) {
	.ocultarpequeño2{
		display: none;

	}
}

@media only screen and (max-width: 1250px) {
	.achicar{
		max-width: 350px;
		width: 100%;


	}
}

@media only screen and (max-width: 770px) {
	.responvive{
	font-size: 1.8rem !important;
	letter-spacing: 9px !important;
	line-height: 31px !important;


	}
}

@media only screen and (max-width: 440px) {
	.parrafovive{
padding-left: 0px !important;

	}
}

@media only screen and (max-width: 1250px) {
	.responjack{
margin-left: 33rem !important;

	}
	.responflech{
margin-left: 16rem !important;

	}

}

@media only screen and (max-width: 1110px) {
	.responjack{
margin-left: 30rem !important;

	}
	.responflech{
margin-left: 12rem !important;

	}

}

@media only screen and (max-width: 1053px) {
	.responjack{
margin-left: 26rem !important;

	}
	.responflech{
margin-left: 8rem !important;

	}

}

@media only screen and (max-width: 970px) {
	.responjack{
		top: 7rem !important;
margin-left: 23rem !important;

	}
	.responflech{
margin-left: 6rem !important;

	}

}

@media only screen and (max-width: 431px) {
	.ocultarjack{
display: none !important;
	}
}

@media only screen and (max-width: 417px) {
	.ocultarjack2{
display: none !important;

	}


}

@media only screen and (max-width: 930px) {
	.responjack{
		top: 7rem !important;
margin-left: auto !important;
margin-right: auto !important;
position: relative !important;
max-width: 562px !important;

	}
	.responflech{
margin-left: 6rem !important;
display: none !important;

	}

}



@media only screen and (max-width: 576px) {
	.responjack{
		top: 6rem !important;
margin-left: auto !important;
margin-right: auto !important;
position: relative !important;
max-width: 562px !important;

	}
	.responflech{
margin-left: 6rem !important;
display: none !important;

	}

}

@media only screen and (max-width: 431px) {
	.responjack{
		top: 7rem !important;
margin-left: auto !important;
margin-right: auto !important;
position: relative !important;
max-width: 562px !important;

	}
	.responflech{
margin-left: 6rem !important;
display: none !important;

	}

}


@media only screen and (max-width: 417px) {
	.responjack{
		top: 8rem !important;
margin-left: auto !important;
margin-right: auto !important;
position: relative !important;
max-width: 562px !important;

	}
	.responflech{
margin-left: 6rem !important;
display: none !important;

	}

	.letterjack {
		letter-spacing: 0px !important;
	}

}


@media only screen and (max-width: 560px) {
	.responvive2{
	font-size: 1.7rem !important;
	letter-spacing: 5px !important;
	line-height: 31px !important;


	}
}


@media only screen and (max-width: 560px) {
	.responvive3{
	font-size: 1.7rem !important;
	letter-spacing: 3px !important;
	line-height: 31px !important;


	}
}

@media only screen and (max-width: 770px) {
	.flechavive{
top: 9px !important;


	}
}

@media only screen and (max-width: 418px) {
	.flechavive{
top: 39px !important;


	}
}

@media only screen and (max-width: 339px) {
	.flechavive{
top: 74px !important;


	}
}

@media only screen and (max-width: 770px) {
	.linearoja2{
width: 30% !important;
display: inline-block !important;


	}

	.lineanegra2{
width: 66% !important;
display: inline-block !important;


	}
}



@media only screen and (max-width: 820px) {
	.logomotores{
		position: relative !important;
		text-align: center;
		left: 0px !important;
	}

.responsiveterri{
	position: relative;
	width: 232px;
	margin-left: auto;
	margin-right: auto;

}

.responsiveterri2{
	position: relative !important;
	left: 0px !important;
	top: -35px !important;
}

}

@media only screen and (max-width: 1250px) {
	.achicar2{
		top: -16px;

	}
}

@media (min-width: 620px) and (max-width:865px){
	.acomodarsocios {
	font-size: 2.5rem !important;
	top: 3rem !important;
	left: 50% !important;
	}
}

@media only screen and (min-width: 866px) {
	.ocultarpequeño3{
		display: none;

	}
}

@media only screen and (min-width: 526px) {
	.ocultarbr{
		display: none;

	}
}


@media only screen and (max-width: 1170px) {
	.hide-on-med-and-down2{
		display: none !important;

	}
}

@media only screen and (max-width: 920px) {
	.acomodareventos{
		width: 100% !important;

	}
}

@media only screen and (max-width: 550px) {
	.paddingresponsivequitar {
		padding: 0 !important;

	}
}



@media only screen and (max-width: 401px) {
	.acomodarlogoseventos {
		height: auto !important;
		width: 100%;

	}

	.ajustarkawa {
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}
}

@media only screen and (max-width: 383px) {
	.quitarpaddingparrafos {
		padding: 0 !important;

	}

}

@media only screen and (max-width: 920px) {
	.ocultarbanner{
		display: none;

	}
}

@media only screen and (min-width: 1081px) {
	.ocultargrande{
		display: none;

	}
}


.ocultarpequeño{

}
.oculto {
	display: none;
}
.forma-curso .t1{
	color: black;
	font-size: 13px;
	font-style: italic;
	font-family: sans-serif, serif;
	line-height: normal;
}
.price-tag {
	width: 20rem;
	height: 6rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 5rem;
	background-image: url('../imagenes/price-tag.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.price-tag h3{
	color: #fff;
  text-transform: uppercase;
  font-style: italic;
  font-family: fuenteride2, sans-serif, serif;
  letter-spacing: 1px;
	line-height: normal;
	padding-top: 20px;
}
.descripcion-requisitos {
	margin-top: -9px;
	padding-left: 27px;
}
.descripcion-requisitos p {
	color: #fff;
  font-size: 10px;
  font-style: italic;
  font-family: sans-serif, serif;
  line-height: normal;
}
.subtitulo-cursos {
	margin-top: -9px;
	padding-left: 27px;
}
.subtitulo-cursos h5 {
	color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  font-family: fuenteride2, sans-serif, serif;
  letter-spacing: 1px;
	line-height: normal;
}
section#contacto a {
	color: white;
}

.displaytable {
	display: table;
}

.iconoscards {
	width: 60px;
	vertical-align: middle;
}

.parrafos {
	font-family: parrafos;
	color: black;
}

.margenizq1 {
	margin-left: 1rem;
}

.margenizq2 {
	margin-left: 2rem;
}

.margenizq3 {
	margin-left: 3rem;
}

.altura500 {
	height: 500px;
}

.fondocard {
	background-color: #B2B2B2;
}

.alinearv {
	display: table-cell;
	vertical-align: middle;
}

.acomodarchulo {
	position: absolute;
	top: 4.5rem;
	left: -30px;
}

.acomodarchulo2 {
	position: absolute;
	top: 4.5rem;
	left: 7.5rem;
}

.desbordar {
	margin-left: -2.7rem;
}

.tamañonormal {
	font-size: 12px;
	line-height: 20px;
}

.tamañonormal p {
	margin: 0px;
}

.textobannerrideproday {
	color: white;
	font-family: fuenterideregular;
	font-size: 1.5rem;
	/* margin-top: 7rem; */
}

.header-position {
	margin-left: 10rem!important;
	margin-top: 5rem;
}

.header-position img {
	opacity: 0.7;
}

#cursos-descripcion .card-content {
	margin-top: 11rem;
}

.textosdecorados {
	background-color: white;
	font-family: fuenterideregular;
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.2rem;
	margin-right: 0rem;
	color: black;
	font-size: 2.2rem;
}

.textosdecorados2 {
	background-color: red;
	font-family: fuenterideregular;
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0rem;
	color: white;
	font-size: 2.2rem;
}

.textosdecorados3 {
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.2rem;
	margin-right: 0rem;
	color: black;
	font-size: 1.8rem;
}

.textosdecorados4 {
	background-color: red;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: fuenteride;
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0rem;
	color: white;
	font-size: 1rem;
	letter-spacing: 5px
}

.textosdecorados5 {
	margin-left: 3rem;
	background-color: #333333;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: fuenteride;
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0rem;
	color: white;
	font-size: 1rem;
	letter-spacing: 5px
}

.textosdecorados6 {
	background-color: #333333;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: fuenteride;
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0rem;
	color: white;
	font-size: 1rem;
	letter-spacing: 5px
}

.emailtelefono {
	font-family: fuenteride2;
	text-align: center;
	color: white;
	font-size: 0.9rem;
}

.quitarmargensup {
	margin-top: 0px;
}

.margensup-2 {
	margin-top: -2px;
}

.margensup3 {
	margin-top: 3px;
	margin-bottom: 1.6rem;
}

.quitarmargeninf {
	margin-bottom: 0px;
}

.fondogris {
	background-color: #333333;
}

.titulos-cursos p {
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	display: inline;
	padding: 5px 0px 5px 7px;
	letter-spacing: 1px;
	font-size: 15px;
}

.titulo-curso {
	-webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
	clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
	background-color: red;
	color: white;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	display: inline;
	padding: 5px 10px 5px 20px;
	letter-spacing: 5px;
	font-size: 20px;
	font-family: fuenteride2, sans-serif, serif;
}

.ubicacion1 {
	top: 65px;
	left: -3rem;
}

.ubicacion2 {
	top: 50px;
	left: 16rem;
}

.ubicacion3 {
	top: 65px;
	left: 43rem;
}

.forma-curso .card-content {
	padding: 4px;
	border-radius: 0 0 2px 2px;
}

.forma-curso .card-action {
	padding: 4px;
	border-radius: 0 0 2px 2px;
}

.forma-curso a {
	color: #fff!important;
	margin-right: 5px!important;
	text-transform: uppercase;
	font-size: 10px!important;
	letter-spacing: 2px!important;
}

.ul-inline {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.ul-inline li {
	display: inline;
}

.forma-curso {
	-webkit-clip-path: polygon(100% 0, 100% 93%, 93% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 83%, 83% 100%, 0 100%, 0 0);
	height: auto;
	background: #d1d1d1;
	/* margin: 0px 0px 0px 4px; */
	padding: 10px;
}

.campo-imagen {
	position: relative;
	right: -7rem;
	top: -3rem;
	float: right;
}

.ub-1 {
	margin-top: 67px;
	left: 4rem;
}

.ub-2 {
	margin-top: 67px;
	left: 44rem;
}

.ub-3 {
	margin-top: 67px;
	left: 83rem;
}


/* pantallas mas pequeñas que */

@media (max-width: 1900px) {
	.ubicacion2 {
		top: 65px;
		left: 2rem;
	}
	.ubicacion3 {
		top: 65px;
		left: 15rem;
	}
	.ub-2 {
		margin-top: 67px;
		left: 29rem;
	}
	.ub-3 {
		margin-top: 67px;
		left: 54rem;
	}
}


/*  */

.subtitulo-card {
	position: absolute;
	z-index: 1;
	display: -webkit-box;
}

.subtitulo-card ul {
	margin-left: 5px;
}

.subtitulo-card ul li h5 {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-style: italic;
	font-family: fuenteride2, sans-serif, serif;
	letter-spacing: 1px;
}

.llanta-marca {
	height: 9rem;
	width: 9rem;
}

.section-subheading {
	font-family: fuenteride2, sans-serif, serif;
	color: red;
}

.section-subheading h5 {
	letter-spacing: 5px;
	font-size: 22px;
}

.text-section {
	margin-top: 10px;
}

.navbar-ul {
	line-height: 26px;
	padding-top: 3rem;
}

.navbar-item-img {
	width: 24px;
	position: absolute;
	left: 4px;
	top: 5px;
}

.imgenparallax {
	z-index: -2;
}

.bannerridepro {
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	height: 250px;
	margin-bottom: 2rem;
}

.absolute2 {
	z-index: 10;
	position: absolute;
	top: 40%;
	left: 44%;
}

.acomodarjustoper {
	position: absolute;
	top: 25%;
	width: 190px;
	left: 17%;
}

.aumentartamañofuente {
	font-size: 1.4rem;
}

.tamañoreducido {
	font-size: 0.75rem;
}

.textosparrafos {
	color: #808080;
	font-family: parrafos;
	font-size: 0.75rem;
	margin-top: 1.7rem;
}

.oscurecer {
	background-color: rgba(0, 0, 0, 0.6);
}

.clase4 {
	display: table;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 8rem;
}

.clase3 {
	height: 500px
}

.alinearv2 {
	font-size: 6rem;
	color: white;
}

.displaytable2 {
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 4rem;
	width: 100%
}

.slider-top {
	top: 2px!important;
	max-height: 500px !important;
	min-height: 500px !important;
}

.slider-top2 {
	top: 2px!important;
	max-height: 390px !important;
	min-height: 390px !important;
	margin-bottom: 18px;
}

.slider-top3 {
	top: 18px!important;
	max-height: 500px !important;
	min-height: 500px !important;
	margin-bottom: 18px;
}

.slider-top4 {
	top: 18px!important;
	max-height: 500px !important;
	min-height: 500px !important;
	margin-bottom: 18px;
}
.slider-intro {
	height: 505px;
}

.navegacion {
	background-color: white;
	height: 5rem;
}

.margennavegacion {
	margin: 0px 3rem 0px 3rem;
}

.paralelogramo {
	-webkit-transform: skew(-8deg);
	-moz-transform: skew(-8deg);
	-ms-transform: skew(-8deg);
	-o-transform: skew(-8deg);
	transform: skew(-8deg);
	font-family: fuenteride;
	width: 195px;
	text-align: right;
	border: solid black 1px;
	margin-right: 0.5rem;
	letter-spacing: 5.5px;
}

.paralelogramomotofest {
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
}

.paralelogramo:hover {
	background: #ff0000c9;
}

.paralelogramo2 {
	-webkit-transform: skew(-8deg);
	-moz-transform: skew(-8deg);
	-ms-transform: skew(-8deg);
	-o-transform: skew(-8deg);
	transform: skew(-8deg);
	margin-right: 0rem;
}

.imagenautodromo {
	width: 50%;
}

.imagenautodromo2 {
	width: 100%;
}

.absolute {
	position: absolute;
	margin-right: 10rem;
	z-index: -1;
}

.autodromo {
	text-align: right;
	z-index: 10;
	margin-left: 15rem;
}

.linearoja {
	border-top: 5px red solid;
	margin-left: 90%;
	text-align: right;
}

.anchuraautodromos {
	width: 95px;
}

.autodromo2 {
	width: 100%;
	text-align: right;
	z-index: 10;
	font-family: fuenteride;
	color: grey;
}

.alturamin {
	height: 450px;
	max-width: 920px;
}

.relative {
	position: relative;
}

.vener {
	font-family: vener;
}

@font-face {
	font-family: "fuenteride";
	src: url("../fonts/roboto/Goboldlight.otf")
}



@font-face {
	font-family: "gobolditalicl";
	src: url("../fonts/roboto/GoboldLightItalic.otf")
}

@font-face {
	font-family: "veneritalic";
	src: url("../fonts/roboto/VeneerItalic.ttf")
}

@font-face {
	font-family: "vener";
	src: url("../fonts/roboto/Veneer.ttf")
}

.vener2 {
	font-family: fuenteride;
}

.vener3 {
	font-family: fuenteride;
	font-style: italic;
}

.añadirmargen {
	margin-top: 7rem !important;
	font-family: parrafos;
	color: black !important;
	line-height: 1.2 !important;
}

.prefix2 {
	width: 1.9rem !important;
}

.nomargenabajo {
	margin-bottom: 0px;
}

.botonformulario {
	margin-left: 3rem;
	width: 120px !important;
}

.acomodartop {
	vertical-align: text-top;
}

.prefix3 {
	width: 1.9rem !important;
}

@font-face {
	font-family: "fuenterideregular";
	src: url("../fonts/roboto/Gobold Regular.otf")
}

@font-face {
	font-family: "fuenteride2";
	src: url("../fonts/roboto/Gobold Italic.ttf")
}

@font-face {
	font-family: "parrafos";
	src: url("../fonts/roboto/Helvetica-Oblique.otf")
}

.material-icons {
	color: black;
}
