RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteEngine On
RewriteRule ^home?$ php/index.php
RewriteRule ^motofest?$ php/motofestiv.php
RewriteRule ^404?$ php/construccion.php
